body{
    margin:0;
    padding:0;
　overflow: hidden;
}

.container{
    width: auto;
    height: 100%;
    margin:auto;
    overflow: hidden;
    background: #000;
    div{
        position: relative;
        display:block;
        float:left;
        width:25%;
        height:20vh;
        background: #000;
        &:before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:20vh;
            background: url('/assets/images/before.png');
            background-size: contain;
            background-attachment: fixed;
            transform-style: preserve-3d;
            transform-origin: top;
            transform: perspective(1000px) rotateX(0deg) translateY(0);
            transition:  0.8s;
            background-position: top;
            background-repeat: no-repeat;
        }
        &.flip{
            &:before{
                transform: perspective(1000px) rotateX(90deg) translateY(-50%);
            }
        }
        &:after{
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:20vh;
            background: url('/assets/images/after.png');
            background-size: contain;
            background-attachment: fixed;
            transform-style: preserve-3d;
            transform-origin: bottom;
            transform: perspective(1000px) rotateX(-90deg) translateY(50%);
            transition:  0.8s;
            background-position: top;
            background-repeat: no-repeat;
        }
        &.flip{
            &:after{
                transform: perspective(1000px) rotateX(0deg) translateY(0%);
            }
        }
    }
}
