* {
  font-family: "Lato", sans-serif;
}
body {
  margin: 20px;
}

header,
footer {
  display: grid;
  grid-template-areas: "logo nav nav";
  grid-template-columns: 1fr 1fr 1fr;
  .logo {
    font-size: 34px;
    margin: 10px;
    grid-area: logo;
  }
  .nav-wrapper {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    grid-area: nav;
  }
  .nav {
    list-style: none;
    width: 180px;
    padding: 0;
    &__li {
      &:first-child {
        text-decoration: underline;
        margin-bottom: 10px;
        color: #7b7b7b;
        cursor: pointer;
      }
    }
  }
}

footer {
  padding: 50px 0;
  .nav {
    width: 220px;
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "column1 column2 column2"
    "column3 column5 column6"
    "column4 column5 column7"
    "column8 column8 column9"
    "column8 column8 column9"
    "column10 column10 column11"
    "column10 column10 column12"
    "column13 column13 column14"
    "column13 column13 column15";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:
    minmax(300px, 1fr) minmax(500px, 1fr) minmax(500px, 1fr) minmax(
      300px,
      400px
    )
    minmax(300px, 400px) minmax(300px, 400px) minmax(300px, 400px);
  grid-gap: 20px;
  &__box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 200px;
    a {
      color: #7b7b7b;
      margin-top: auto;
      font-size: 13px;
    }
    &:nth-child(1) {
      background: #fcf8c0;
      grid-area: column1;
    }
    &:nth-child(2) {
      background-image: url("../images/grid-practice-1/image-1.jfif");
      background-size: cover;
      background-position: center right;
      grid-area: column2;
    }
    &:nth-child(3) {
      background: #e5efd9;
      grid-area: column3;
    }
    &:nth-child(4) {
      grid-area: column4;
      background-image: url("../images/grid-practice-1/image-2.jfif");
      background-size: cover;
      background-position: top -120px right;
    }
    &:nth-child(5) {
      grid-area: column5;
      background: #c4ecf2;
      background-image: url("../images/grid-practice-1/image-3.png");
      background-size: 80% auto;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:nth-child(6) {
      background: #ebebeb;
      grid-area: column6;
    }
    &:nth-child(7) {
      background-image: url("../images/grid-practice-1/image-4.jfif");
      background-size: cover;
      background-position: center center;
      grid-area: column7;
    }
    &:nth-child(8) {
      height: 100%;
      width: 100%;
      background: #fab1a0;
      grid-area: column8;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10% 0;
      box-sizing: border-box;
      img {
        width: 80%;
        height: auto;
      }
    }
    &:nth-child(9) {
      padding: 0;
      grid-area: column9;
      background-image: url("../images/grid-practice-1/image-6.jfif");
      background-size: cover;
      background-position: center right;
    }
    &:nth-child(10) {
      grid-area: column10;
      background-image: url("../images/grid-practice-1/image-7.jfif");
      background-size: cover;
      background-position: center right;
    }
    &:nth-child(11) {
      grid-area: column11;
      background: #ebebeb;
    }
    &:nth-child(12) {
      grid-area: column12;
      background-image: url("../images/grid-practice-1/image-8.jfif");
      background-size: cover;
      background-position: center right;
    }
    &:nth-child(13) {
      grid-area: column13;
      background: #e5efd9;
    }
    &:nth-child(14) {
      grid-area: column14;
      background-image: url("../images/grid-practice-1/image-9.jfif");
      background-size: cover;
      background-position: center right;
    }
    &:nth-child(15) {
      grid-area: column15;
      background-image: url("../images/grid-practice-1/image-10.jfif");
      background-size: cover;
      background-position: center right;
      line-height: 1;
      span {
        padding-top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 4vw;
        background: white;
        font-size: 3vw;
        color: #ffcd01;
      }
    }
  }
  &__label {
    text-decoration: underline;
    margin-bottom: 20px;
    color: #7b7b7b;
    cursor: pointer;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__sub-title {
    font-size: 14px;
    color: #7b7b7b;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__content {
    font-size: 14px;
    color: #404040;
    margin-bottom: 30px;
  }
}
